
:root {
  /* --primary-color: #1681E5; */
  --primary-color: #499ed7;
  --secondary-color: #ffffff;
  --background-color: #ffffff;
  --footer-color: #636262;
  --card-background: #f5f5f5;
  --text-color: #499ed7;
}

/* [data-theme="dark"] {
  --primary-color: #1a1a1a;
  --secondary-color: #2c2c2c;
  --background-color: #121212;
  --text-color: #1681E5;
} */

:root[data-theme="dark"] {
  --primary-color: #499ed7;
  --secondary-color: #1A1A1A;
  --background-color: #111b22;
  --card-background: transparent;
  --text-color: #499ed7;
  --highlight-color: #BB86FC;
  --accent-color: #03DAC6;
}

* {
  font-family: "Rubik", sans-serif;
}

body {
  scroll-behavior: smooth;
  /* background-color: --secondary-color; */
  background-color: var(--background-color);
  color: var(--text-color);
}

footer {
  padding: 40px;
  background-color: var(--footer-color);
}

footer span,
footer a {
  color: var(--secondary-color)
}

footer.border-top {
  /* opacity: 0.5; */
  border: none !important;
}

footer i {
  font-size: 16px;
}

footer i {
  font-size: 20px;
}

footer i:hover {
  color: var(--primary-color);
}

#navbarNav {
  justify-content: center;
}

.navbar-toggler {
  border: none;
  /* outline: none; Elimina el borde de enfoque */
  margin-left: auto; 
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav {
  align-items: center;
}

.navbar {
  /* border-bottom: 1px solid #eeeeee; */
  background-color: var(--primary-color);
}

.navbar a {
  color: var(--secondary-color);
}

.container {
  margin-top: 56px;
  max-width: 1000px;
}

.chi-siamo {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
}

.chi-siamo p {
  text-align: justify;
}

.logo-img {
  border-radius: 50%;
}

.logo-navbar {
  margin-right: 15px;
  margin-left: 15px;
}

.dati-section {
  align-items: center;
}

.servizi-cards {
  justify-content: center;
}

/*SERVICE-CARD*/
.service-card {
  display: flex;
  align-items: flex-start;
  /*align-items: center;  Alinea verticalmente los elementos */
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  /* background-color: #f5f5f5; */
  background-color: var(--card-background);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 40px;
  color: #1681E5;
  margin-right: 15px;
}

.content {
  flex: 1;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

/*SERVICE-CARD*/

/*CONTACT-CARD*/
.contact-card {
  display: flex;
  align-items: center;
  padding: 10px;
  /* background-color: #fff; */
  margin-bottom: 20px;
}

.google-card {
  margin-bottom: 0px;
}

.icon {
  font-size: 24px;
  color: #1681E5;
  margin-right: 15px;
}

.info {
  flex: 1;
}

.label {
  font-weight: bold;
}

#theme-toggle{
  border: none;
}

#theme-toggle:hover{
  background-color: none;
  color: black;
}

.value {
  color: #555;
}

/*CONTACT-CARD*/
.lavori-img {
  display: flex;
  justify-content: center;
}

.img-lavoro {
  padding: 0;
}

.card-img-top {
  width: 100%;
  max-width: 40rem;
  /* Cambia esto según tus necesidades */
  height: 20rem;
  /* Para que las imágenes sean cuadradas */
  object-fit: cover;
  /* Ajusta y recorta el excedente */
}

.section {
  /* margin: 50px;
  padding: 50px; */
  /* scroll-margin-top: 70px; */
  scroll-margin-top: 60px;
  margin-top: 52px;
  margin-bottom: 60px;
  color: #1681E5;
  /* margin-top: 52px; */
}

.section h1 {
  font-size: 32px;
  font-weight: 600;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  /* bottom: 63px; */
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.whatsapp-float i {
  margin-top: 16px;
}

/* @media (max-width: 768px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
  }

  .whatsapp-float i {
    margin-top: 12px;
  }

} */

/* MEDIA QUERIES */

/* // Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .section {
    margin: 0px;
    padding: 0px;
  }
} */

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .div-logo-img {
    display: flex;
    justify-content: center;
  }

  .logo-img {
    width: 25%;
  }

  .chi-siamo {
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .chi-siamo p {
    font-size: 14px;
  }

  .card-img-top {
    height: 10rem;
    /* Para que las imágenes sean cuadradas */
  }

  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
  }

  .whatsapp-float i {
    margin-top: 12px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}